@import "./../../styles/core/mixins";
@import "./../../styles/core/variables";

.book-detail {
  margin-top: 40px;
  max-width: 700px;
  width: 100%;
}

.book-details-head {
  display: flex;
  flex-flow: column;
}

.book-cover-wrpr {
  margin-bottom: 30px;

  img {
    max-width: 250px;
  }
}

.book-cover-btn {
  position: absolute;
  height: 100%;
  width: 100%;
  background: $color-light-gray-1;
  opacity: 0.2;
  top: 0;
  left: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.book-main-details {
  flex: 1;
}

.action-btns {
  margin-top: 30px;

  .btn-accent {
    margin-left: 20px;
  }
}

@include respond-to-min($bp-sm) {
  .book-details-head {
    flex-flow: row;
    flex-wrap: wrap;
  }
  .book-main-details {
    margin-left: 30px;
  }
}
