@import "./../../styles/core/mixins";
@import "./../../styles/core/variables";

.book-add-update {
  margin-top: 40px;
  max-width: 700px;
  width: 100%;


  .book-details-head {
    display: flex;
    flex-flow: column;
  }

  .book-cover-wrpr {
    margin-bottom: 30px;

    img {
      max-width: 250px;
    }
  }

  .image-input-wrpr {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    overflow: hidden;

    .form-field {
      width: 100%;
      margin-top: 10px;
      flex: 1;

      textarea {
        height: 100%;
        resize: none;
      }
    }

    &.is-img-inp-open {
      background: $color-light-gray-4;
    }
  }

  .save-img-btn {
    margin-right: 10px;
    background: $color-accent;

    svg {
      fill: $color-white;
    }
  }

  .edit-img-btn {
    background: $color-white;
  }

  .book-main-details {
    flex: 1;
  }

  .action-btns {
    margin-top: 30px;

    .btn-accent {
      margin-left: 20px;
    }
  }

  @include respond-to-min($bp-sm) {
    .book-details-head {
      flex-flow: row;
      flex-wrap: wrap;
    }
    .book-main-details {
      margin-left: 30px;
    }
  }
}
