@import "./../../styles/core/mixins";
@import "./../../styles/core/variables";

.book-card {
  background: $color-white;
  border-radius: 4px;
  padding: 20px;
  cursor: pointer;
  box-shadow: $box-shadow-5;

  &:hover {
    box-shadow: $box-shadow-4;
  }
}

.book-cover {
  margin-right: 20px;
  width: 30%;
  overflow: hidden;

  img {
    border-radius: 3px;
    width: 100%;
    max-width: 150px;
  }
}

