@import "./../../styles/core/mixins";
@import "./../../styles/core/variables";

.books-list {
  margin-top: 40px;
  min-height: 70vh;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.search-bar {
  max-width: 500px;
}

.books-feed {
  margin: 40px 0;
}

.books-feed {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 20px 20px;
}

.add-book-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: $color-accent;
  box-shadow: $box-shadow-1;

  svg {
    fill: $color-white;;
  }

  &:hover {
    background: $color-accent-dark;
  }
}

@include respond-to-min($bp-sm) {
  .books-feed {
    grid-template-columns: 1fr 1fr;
  }
}
