@import "./../../styles/core/mixins";
@import "./../../styles/core/variables";

.book-detail {
  margin-top: 40px;
  max-width: 700px;
  width: 100%;

  .book-details-head {
    margin-top: 40px;
    display: flex;
    flex-flow: column;
  }

  .book-cover-wrpr, .book-main-details {
    margin-bottom: 30px;
  }

  .book-cover-wrpr {
    img {
      max-width: 250px;
    }
  }

  .book-main-details {
    flex: 1;
  }

  @include respond-to-min($bp-sm) {
    .book-details-head {
      flex-flow: row;
      flex-wrap: wrap;
    }
    .book-main-details {
      margin-left: 30px;

      h1 {
        padding-right: 25px;
      }
    }
  }
}
