@import "./../core/variables";

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: $header-ht;
  padding: $page-spacing;
  background-color: $color-white;
  box-shadow: $box-shadow-1;
  display: flex;
  align-items: center;
}
