//@import "variables";

.m {
  &-x-auto {
    margin: 0 auto;
  }
  &-0 {
    margin: 0;
  }
}

.txt {
  &-clr {
    &-error {
      color: $color-error;
    }
  }
}

.mxw {
  &-600 {
    max-width: 600px;
  }
}

.pos {
  &-abs {
    position: absolute;
  }
  &-rel {
    position: relative;
  }
}
