//@import "variables";

.m {
  &-x-auto {
    margin: 0 auto;
  }

  &-0 {
    margin: 0;
  }

  &-t-xs {
    margin-top: 4px;
  }

  &-b-xs {
    margin-bottom: 4px;
  }

  &-t-s {
    margin-top: 8px;
  }

  &-b-s {
    margin-bottom: 8px;
  }
}

.txt {
  &-clr {
    &-error {
      color: $color-error;
    }

    &-gray-1 {
      color: $color-gray-1;
    }
  }

  &-al {
    &-c {
      text-align: center;
    }
  }
}

.mxw {
  &-500 {
    max-width: 500px;
  }

  &-600 {
    max-width: 600px;
  }
}

.w {
  &-100pc {
    width: 100%;
  }
}

.h {
  &-100pc {
    height: 100%;
  }
}

.pos {
  &-abs {
    position: absolute;
  }

  &-rel {
    position: relative;
  }
}

.v-al-mdl {
  vertical-align: middle;
}

.flex {
  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-row {
    display: flex;
    flex-flow: row;
  }

  &-row-wrap {
    display: flex;
    flex-flow: row wrap;
  }

  &-column {
    display: flex;
    flex-flow: column;
  }

  &-justify {
    &-flex-start {
      justify-content: flex-start;
    }

    &-flex-end {
      justify-content: flex-end;
    }

    &-stretch {
      justify-content: stretch;
    }

    &-center {
      justify-content: center;
    }

    &-space-between {
      justify-content: space-between;
    }
  }

  &-align {
    &-items {
      &-center {
        align-items: center;
      }

      &-flex-start {
        align-items: flex-start;
      }

      &-flex-end {
        align-items: flex-end;
      }
    }

    &-self {
      &-center {
        align-self: center;
      }

      &-flex-start {
        align-self: flex-start;
      }

      &-flex-end {
        align-self: flex-end;
      }
    }
  }

  &-wrap {
    &-wrap {
      flex-wrap: wrap;
    }
  }

  &-1 {
    flex: 1;
  }
}

.d {
  &-flex {
    display: flex;
  }

  &-inline-flex {
    display: inline-flex;
  }
}

.cur-p {
  cursor: pointer;
}

.trans {
  transition: all 300ms ease-in-out;
}
