/**
  Add any application specific variables.
 */

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

$color-primary: #53a318;
$color-accent: #53a318;
$color-accent-dark: darken(#53a318, 10);

$color-black: #2f2f2f;
$color-white: white;
$color-transparent: transparent;

$color-gray-1: #7D7D7D;
$color-gray-2: #878787;
$color-light-gray-1: #F1F1F1;
$color-light-gray-2: #E3E3E3;
$color-light-gray-3: #B6B6B6;
$color-dark-gray-1: #343434;

$color-error: #FF0000;
$color-light-red-1: #FFDCDC;
$color-light-red-2: #FFD6D6;
$color-light-red-3: #FF7373;

$transition-basic: all 300ms ease-in-out;

$font-Inter: 'Inter', sans-serif;

$primary-font: $font-Inter;
//$secondary-font: $font-Inter;

//$primary-font-wt-thin: 100;
//$primary-font-wt-light: 300;
$primary-font-wt-regular: 400;
$primary-font-wt-medium: 500;
$primary-font-wt-semi_bold: 600;
$primary-font-wt-bold: 700;
//$primary-font-wt-black: 900;

$page-spacing: 20px;
$page-spacing-desktop: 32px;
