/**
  Add any application specific variables.
 */

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

$color-primary: #53a318;
$color-accent: #53a318;
$color-accent-dark: darken(#53a318, 10);

$color-black: #2f2f2f;
$color-white: white;
$color-transparent: transparent;

$color-gray-1: #7D7D7D;
$color-gray-2: #878787;
$color-light-gray-1: #F1F1F1;
$color-light-gray-2: #E3E3E3;
$color-light-gray-3: #B6B6B6;
$color-light-gray-4: #f6f6f6;
$color-transparent-light-gray: #30303005;
$color-dark-gray-1: #343434;

$color-error: #FF0000;
$color-light-red-1: #FFDCDC;
$color-light-red-2: #FFD6D6;
$color-light-red-3: #FF7373;

$transition-basic: all 300ms ease-in-out;

$font-Inter: 'Inter', sans-serif;

$primary-font: $font-Inter;
//$secondary-font: $font-Inter;

//$primary-font-wt-thin: 100;
//$primary-font-wt-light: 300;
$primary-font-wt-regular: 400;
$primary-font-wt-medium: 500;
$primary-font-wt-semi_bold: 600;
$primary-font-wt-bold: 700;
//$primary-font-wt-black: 900;

$page-spacing: 20px;
$page-spacing-desktop: 32px;

$header-ht: 70px;

$box-shadow-1: 0px 2px 2px 0px rgba(0,0,0,0.14) , 0px 3px 1px -2px rgba(0,0,0,0.12) , 0px 1px 5px 0px rgba(0,0,0,0.2);
$box-shadow-2: 0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2);
$box-shadow-3: 0px 16px 24px 2px rgba(0,0,0,0.14) , 0px 6px 30px 5px rgba(0,0,0,0.12) , 0px 8px 10px -7px rgba(0,0,0,0.2);
$box-shadow-4: 0px 2px 15px -3px rgba(0,0,0,0.1) , 0px 4px 6px -2px rgba(0,0,0,0.05);
$box-shadow-5: 0px 2px 45px -3px rgba(0,0,0,0.1) , 0px 4px 6px -2px rgba(0,0,0,0.05);
$box-shadow-6: 0px 25px 50px -12px rgba(0,0,0,0.25);

